/* Start Variables */

:root {
  --color-primary: #A52A2A;
  --color-secondary: #334E58;
  --color-accent: #ED7D3A;
  --color-white: #E1E0E0;
  --color-dark: #020202;
  --default-spacing: 15px;
  --main-duration: 0.5s;
  --default-shadow: 1px 1px 10px black;
}

/* End Variables */

/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Noto Kufi Arabic", "Cairo", sans-serif;
  font-size: 16px;
}

.container {
  padding-left: var(--default-spacing);
  padding-right: var(--default-spacing);
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Meduim Screens */
@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Components */

/* End Components */

/* Start Landing */

.landing {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1; 
  background: url('../res/building.jpg') no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: var(--default-spacing);
  padding-bottom: var(--default-spacing);
}

header img {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px black;
  background-color: rgba(0, 0, 0, .4);
}

header .menu-icon {
  font-size: 50px;
  color: var(--color-white);
  text-shadow: var(--default-shadow);
  cursor: pointer;
}

header .links {
  position: relative;
}

header .links ul {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  width: max-content;
  left: 0;
  padding: 0;
  display: none;
}

header .links li{
  list-style: none;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

header .links li {
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

header .links li a {
  color: white;
  text-decoration: none;
  text-shadow: var(--default-shadow);
  cursor: pointer;
}

header .links li a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {

  header .links i {
    display: none;
  }

  header .links ul {
    background-color: transparent;
    position: inherit;
    display: block;
  }

  header .links li{
    display: inline-block;
    list-style: none;
    width: fit-content;
    height: fit-content;
    line-height: initial;
    border: none;
    margin-right: 15px;
  }

}

.landing .content {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing .content h1 {
  color: var(--color-white);
  text-shadow: var(--default-shadow);
  text-align: center;
  font-weight: 800;
  font-size: 2.6rem;
  line-height: 1.6;
  margin: 0;
}
.landing .content p {
  color: var(--color-accent);
  text-shadow: var(--default-shadow);
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: -40px;
}

/* End Landing */