/* Start Variables */

:root {
  --color-primary: #A52A2A;
  --color-secondary: #334E58;
  --color-accent: #ED7D3A;
  --color-white: #E1E0E0;
  --color-dark: #020202;
  --color-background: #eee;
  --default-spacing: 15px;
  --main-duration: 0.5s;
  --default-shadow: 1px 1px 10px black;
}

/* End Variables */

/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Noto Kufi Arabic", "Cairo", sans-serif;
  font-size: 16px;
}

.container {
  padding-left: var(--default-spacing);
  padding-right: var(--default-spacing);
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Meduim Screens */
@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Components */

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-box {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* End Components */

/* Start Landing */

.landing {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1; 
  background: url('../res/placeholder.jpg') no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: var(--default-spacing);
  padding-bottom: var(--default-spacing);
}

header img {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px black;
  background-color: rgba(0, 0, 0, .4);
}

header .menu-icon {
  font-size: 50px;
  color: var(--color-white);
  text-shadow: var(--default-shadow);
  cursor: pointer;
}

header .links {
  position: relative;
}

header .links ul {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  width: max-content;
  left: 0;
  padding: 0;
  display: none;
}

header .links li{
  list-style: none;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

header .links li {
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

header .links li a {
  color: white;
  text-decoration: none;
  text-shadow: var(--default-shadow);
  cursor: pointer;
}

header .links li a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {

  header .links i {
    display: none;
  }

  header .links ul {
    background-color: transparent;
    position: inherit;
    display: block;
  }

  header .links li{
    display: inline-block;
    list-style: none;
    width: fit-content;
    height: fit-content;
    line-height: initial;
    border: none;
    margin-right: 15px;
  }

}

.landing .content {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing .content h1 {
  color: var(--color-white);
  text-shadow: var(--default-shadow);
  text-align: center;
  font-weight: 800;
  font-size: 2.6rem;
  line-height: 1.6;
  margin: 0;
}
.landing .content p {
  color: var(--color-accent);
  text-shadow: var(--default-shadow);
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: -80px;
}

/* End Landing */

/* Start Features */

#features .text-box {
  margin-top: calc(50px - 20px);
  margin-bottom: 50px;
}

.slideshow .slideshow-container {
  position: relative;
}

.slideshow .slide {
  display: none;
}

.slideshow .slide img {
  max-width: 100%;
}

.slideshow .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow .prev {
  left: 0;
  border-radius: 3px 0 0 3px; 
}

.slideshow .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slideshow .caption {
  color: #f2f2f2;
  line-height: 1.5;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: var(--default-shadow);
}

.slideshow .dots-container {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  margin: 10px 0px;
}

.slideshow .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow .active, .dot:hover {
  background-color: var(--color-accent);
}


/* End Features */

/* Start Vision */

#vision {
  background-color: var(--color-background);
}

.vision .content {
  font-weight: 500;
  line-height: 1.5;
}

.vision .content p {
  margin-bottom: 10px;
}

.vision .content ul {
  margin-right: 30px;
}

@media (min-width: 768px) {
  .vision .content ul {
    margin-right: 40px;
  }
}

@media (min-width: 1200px) {
  .vision .content ul {
    margin-right: 50px;
  }
}

/* End Vision */

/* Start Pricing */

#pricing .content p {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
}

#pricing .content a {
  text-align: center;
}

/* End Pricing */
